{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="guestbook">
				<form action="/guestbook/add" method="post">{% csrf_token %}
					<input type="hidden" name="a" value="insert">
					<table>
						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="contents" id="contents"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
                {% for guestbook in guestbooklist %}
				<ul>
					<li>
						<table>
							<tr>
								<td>[4]</td>
								<td>{{guestbook.name}}</td>
								<td>2015-11-10 11:22:30</td>
								<td><a href="/guestbook/deleteform?id={{guestbook.id}}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								{{guestbook.contents}}
								</td>
							</tr>
						</table>
						<br>
					</li>
				</ul>
                {% endfor %}
			</div>
{% endblock %}