{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery/jquery-1.9.0.js"></script>
<script>

	$(function (){
		$(".board-depth").each(function() {
			var depth = $(this).attr('id');
  			$(this).css('padding-left', depth*20);
		});
	});


</script>
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex" style="text-align: center">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>

					{% for board in boardlist%}
					<tr>
						<td>[{{forloop.counter}}]</td>
						<td class="board-depth" id="{{board.depth}}" style="text-align:left;">
						{% if board.depth > 0 %}
						<img src="/assets/images/reply.png">
						{% endif %}
						<a href="board/view?id={{board.id}}">{{board.title}}</a></td>
						<td>{{board.user.name}}</td>
						<td>{{board.hit}}</td>
						<td>{{board.regdate | date:'Y-m-d H:i:s'}}</td>
						<td>
						<form id="delete_form" action="board/delete" method="post">
							<input type="hidden" name="id" value="{{board.id}}">
							<input type="submit" value="삭제">
						</form>
						</td>
					</tr>
					{% endfor%}

				</table>

				<!-- pager 추가 -->
				<div class="pager">
					<ul>
					{% if paging.block_start_num > 5 %}
						<li><a href="/board?curPageNum={{paging.block_start_num | sub:1}}&showBoardNum=5">◀</a></li>
					{% endif %}
						{% for i in range %}
							{% if paging.cur_page_num == i %}
								<li class="selected">
									<a href="/board?curPageNum={{i}}&showBoardNum=5">{{paging.block_start_num | add:forloop.counter | sub:1}}</a>
								</li>
							{% else %}
								<li>
									<a href="/board?curPageNum={{i}}&showBoardNum=5">{{paging.block_start_num | add:i | sub:1}}</a>
								</li>
							{% endif %}
						{% endfor %}

					{% if paging.block_last_num < paging.last_page_num %}
						<li><a href="/board?curPageNum={{paging.block_last_num | add:1}}&showBoardNum=5">▶</a></li>
					{% endif %}
					</ul>
				</div>
				<!-- pager 추가 -->

				<div class="bottom">
					<a href="board/writeform" id="new-book">글쓰기</a>
				</div>				
			</div>
{% endblock %}